body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* general */
#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 100px 200px 1fr;
}

header {
  grid-row: 1/2;
  grid-column: 2/4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  grid-row: 1/5;
  grid-column: 1/2;
}

section.tips {
  grid-row: 2/3;
  grid-column: 2/4;
}

/* navigation */
nav {
  background: linear-gradient(#075985, #0ea5e9);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0px 4px rgb(0, 0, 0, 0.5);
}
nav > h1 {
  color: white;
  font-size: 2rem;
}

nav ul,
nav button {
  width: 100%;
}
nav button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 30px;
  display: flex;

  /* justify-content: center; */
}
nav button span {
  transform: scale(1.2);
  margin-right: 4px;
  width: 50px;
}
nav li {
  margin-bottom: 10px;
}
nav button:hover,
nav button.selected {
  background-color: white;
  color: #0ea5e9;
}

/* header */

header > h2 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
header .buttons {
  display: flex;
  gap: 5px;
}
header button {
  background: none;
  border: none;
  transform: scale(1.5);
  color: #075985;
}
header img {
  width: 20px;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 50px;
}

/* tips */

/* announcments */

/* quizzes */
