body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
/* general */
#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr 250px;
  grid-template-rows: 80px 250px 1fr;

  background-color: #ececec;
}

header {
  grid-row: 1/2;
  grid-column: 2/4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  grid-row: 1/5;
  grid-column: 1/2;
}

section.tips {
  grid-row: 2/3;
  grid-column: 2/4;
}

/* navigation */
nav {
  background: linear-gradient(#075985, #0ea5e9);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0px 4px rgb(0, 0, 0, 0.5);
}
nav > h1 {
  color: white;
  font-size: 2rem;
}

nav ul,
nav button {
  width: 100%;
}
nav button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 30px;
  display: flex;

  /* justify-content: center; */
}
nav button span {
  transform: scale(1.2);
  margin-right: 4px;
  width: 50px;
}
nav li {
  margin-bottom: 10px;
}
nav button:hover,
nav button.selected {
  background-color: white;
  color: #0ea5e9;
}

/* header */
header {
  background-color: white;
}
header > h2 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
header .buttons {
  display: flex;
  gap: 5px;
}
header button {
  background: none;
  border: none;
  transform: scale(1.5);
  color: #075985;
}
header img {
  width: 20px;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 50px;
}
header .right {
  display: flex;
  gap: 8px;
}
header input {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 8px;

  font-size: 14px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}

/* tips */
.tips {
  margin: 20px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: white;
}

.tips h2 {
  width: fit-content;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #312e81, #a5b4fc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.tips p {
  color: rgb(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

p.exams {
  max-width: 600px;
}

.tips button {
  background-color: #0ea5e9;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

/* announcments */
.announcements {
  margin: 20px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: white;
}
.announcements h2,
.announcements .description {
  color: rgb(0, 0, 0, 0.6);
}
.announcements h3 {
  white-space: nowrap;
  margin-bottom: 5px;
}
.announcements img {
  width: 30px;
  align-self: center;
}
.announcements ul {
  padding: 10px;
  margin: 20px;
}
.announcements li {
  display: flex;
  /* align-items: center; */
}
.announcements .left {
  width: max-content;
  border-right: 1px solid rgb(0, 0, 0, 0.6);
  display: flex;
  gap: 15px;
  /* align-items: center; */
  margin-right: 30px;
  padding-right: 30px;
}
.announcements .text {
  margin-top: 18px;
}
.announcement {
  margin-bottom: 25px;
}
p.course {
  color: rgb(0, 0, 0, 0.6);
}

/* quizzes */
